In [2]:
import json
import pandas as pd

In [3]:
# load train json
with open('qald_9_plus_train_dbpedia.json') as f:
    train_data = json.load(f)

# load test json
with open('qald_9_plus_test_dbpedia.json') as f:
    test_data = json.load(f)

In [30]:
# Fumktion, die aus dem JSON-File ein Pandas-Dataframe erstellt
def json2pd(data):
    question_list = []
    for q in data['questions']:
        for item in q['question']:
            question_list.append({'ID': q['id'], 'Language': item['language'], 'Question': item['string']})
    # DataFrame erstellen
    df = pd.DataFrame(question_list)
    return df

In [31]:
train = json2pd(train_data)
test = json2pd(test_data)

In [34]:
# only take de questions
train = train[train['Language'] == 'de']
test = test[test['Language'] == 'de']

In [36]:
print(train.shape)
print(test.shape)

(543, 3)
(176, 3)


> stimmt mit QLAD-Doku überein

> enthält allerdings noch Duplikate

In [51]:
# drop duplicates
train = train.drop_duplicates(subset=['ID'])
test = test.drop_duplicates(subset=['ID'])

print(train.shape)
print(test.shape)

(408, 3)
(150, 3)

> stimmt jetzt mit dem originalen QALD-Datensatz überein

In [44]:
# change ID to int
train['ID'] = train['ID'].astype(int)
test['ID'] = test['ID'].astype(int)

In [54]:
# add column with set
train['Set'] = 'train'
test['Set'] = 'test'

       ID Language                                           Question   Set
1      99       de          In welcher Zeitzone liegt Salt Lake City?  test
12     98       de                           Wer hat Caesar ermordet?  test
21     86       de         Wie heißt der höchste Berg in Deutschland?  test
34     84       de  Welche amerikanischen Präsidenten waren währen...  test
45     81       de  Butch Otter ist der Gouverneur welches US-Staa...  test
...   ...      ...                                                ...   ...
1464   14       de  Zeige mir Wanderrouten im Grand Canyon, für di...  test
1473   87       de               Welches Buch hat die meisten Seiten?  test
1481  148       de               Welche ist die größte Stadt der USA?  test
1490   43       de  Liste die Internetseiten von Unternehmen mit m...  test
1497  179       de           Wie hieße die drei Schiffe von Kolumbus?  test

[150 rows x 4 columns]

In [58]:
# merge train and test
df = pd.concat([train, test], ignore_index=True)
df

      ID Language                                           Question    Set
0      1       de                 Liste die Brettspiele von GMT auf.  train
1      2       de                             Wer entwickelte Skype?  train
2      3       de       Welche Personen wurden in Heraklion geboren?  train
3      4       de              In welchem Bundesstaat liegt Area 51?  train
4      5       de       Wer ist der Bürgermeister von New York City?  train
..   ...      ...                                                ...    ...
553   14       de  Zeige mir Wanderrouten im Grand Canyon, für di...   test
554   87       de               Welches Buch hat die meisten Seiten?   test
555  148       de               Welche ist die größte Stadt der USA?   test
556   43       de  Liste die Internetseiten von Unternehmen mit m...   test
557  179       de           Wie hieße die drei Schiffe von Kolumbus?   test

[558 rows x 4 columns]

In [59]:
df['internal ID'] = df.index

In [60]:
df

,ID,Language,Question,Set,internal ID
0,1,de,Liste die Brettspiele von GMT auf.,train,0
1,2,de,Wer entwickelte Skype?,train,1
2,3,de,Welche Personen wurden in Heraklion geboren?,train,2
3,4,de,In welchem Bundesstaat liegt Area 51?,train,3
4,5,de,Wer ist der Bürgermeister von New York City?,train,4
...,...,...,...,...,...
553,14,de,"Zeige mir Wanderrouten im Grand Canyon, für di...",test,553
554,87,de,Welches Buch hat die meisten Seiten?,test,554
555,148,de,Welche ist die größte Stadt der USA?,test,555
556,43,de,Liste die Internetseiten von Unternehmen mit m...,test,556
557,179,de,Wie hieße die drei Schiffe von Kolumbus?,test,557

In [63]:
# rename columns
df = df.rename(columns={'Question': 'Frage'})

In [65]:
# save to csv
df.to_csv('qald_9_plus_dbpedia_de.csv', index=False, sep=';')